@import "tailwindcss";

/* v4 mein dark mode automatically 'class' strategy par hota hai 
   agar aap ye variable set karein: */
@theme {
  --color-background: white;
  --color-foreground: black;
}

@variant dark (&:where(.dark, .dark *));

* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

html {
  scroll-behavior: smooth;
}